<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Compiled and minified CSS -->
    <link href="../../../public/stylesheets/Materialize/materialize.min.css" rel="stylesheet"/>
    <link href="../../../public/stylesheets/MainNavigation/Pages/AboutPage/AboutPage.min.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>About Page</h1>
  </body>
</html>
