<div id="<%= friend.name %>" class="carousel-item tooltipped" data-position="top" data-tooltip="<%= friend.name %>">
    <img src="/images/profiles/<%= friend.profilePicture %>" class="responsive-img circle hoverable friend-pic">
</div>