<div class="carousel-item">
    <div class="card hoverable">
        <div class="card-image">
            <img class="responsive-img poster z-depth-2" src="http://image.tmdb.org/t/p/w342/<%= movie.backdrop_path %>">
            <div class="card-text">
                <div><span class="movie-title"><%=movie.title%></span></div>
                <span class="movie-date">(<%= getYear(movie.release_date) %>)</span>
                <i class="material-icons remove-item">delete</i>
            </div>
        </div>
    </div>
</div>